* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    135deg,
    #eef2ff,
    #dbeafe,
    #f8fafc
  );
  min-height: 100vh;
}
.container {
  max-width: 1250px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 3rem;
  font-weight: 700;
  color: #1e293b;
}

.cards {
  margin-bottom: 30px;
}
.card {
  background: white;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
.card h2 {
  color: #0d6efd;
}

.lead-form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 18px;

  background: white;
  padding: 30px;
  border-radius: 20px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

  margin-bottom: 30px;
}

.lead-form textarea {
  grid-column: span 2;
}

.lead-form button {
  grid-column: span 2;
}

input,
textarea {
  padding: 14px;
  border: 2px solid #dbeafe;
  border-radius: 12px;
  background: #ffffff;
  color: #1e293b;
  font-size: 15px;
  font-weight: 500;
}
input:focus,
textarea:focus
 {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 10px rgba(59,130,246,0.25);
}
select {
  width: 140px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background: #f8fafc;
  color: #0f172a;
  font-weight: 600;
}

select:focus {
  outline: none;
  border-color: #2563eb;
}

button {
  background: linear-gradient(
    135deg,
    #2563eb,
    #4f46e5
  );

  color: white;
  border: none;
  border-radius: 12px;

  padding: 14px;
  font-weight: 600;
  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
}
table {
  width: 100%;
  border-collapse: collapse;

  background: white;

  border-radius: 20px;
  overflow: hidden;

  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

th {
  background: linear-gradient(
    135deg,
    #2563eb,
    #4f46e5
  );

  color: white;
  font-size: 16px;
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

td button {
  background: #dc3545;
}
tr:hover {
  background: #f8fafc;
}

td button:hover {
  background: #bb2d3b;
}

@media (max-width: 768px) {
  .lead-form {
    grid-template-columns: 1fr;
  }

  .lead-form textarea,
  .lead-form button {
    grid-column: span 1;
  }
}


input,
textarea,
select {
  color: #1e293b !important;
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #1e293b !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
.logout-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}